$base_color: #fb6f20;
$secend_color: #121212;
$place_color: #bebebe;
$text_color: #f6f6f6;

a {
  text-decoration: none;
}

@font-face {
  font-family: FiraGO;
  src: url("../fonts/FiraGO-Regular.woff");
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #f7f7f7;
  box-shadow: 0px 2px 6px 2px rgba(184, 184, 184, 0.25);
}

.livesearch {
  font-family: FiraGO;
  input {
    width: 443px;
    max-width: 100%;
    border-radius: 50px;
    border: 1px solid $secend_color;
    &::placeholder {
      color: $place_color;
      font-size: 20px;
    }
  }
  button {
    position: relative;
    right: 48px;
  }
}

// carusel

#stepcarusel {
  margin-top: 58px;

  .carousel-item {
    border: 1px solid #000000;
    height: 316px;
    border-radius: 12px;
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background-image: linear-gradient(
        92.78deg,
        #c39df3 0.81%,
        #7f9ce7 98.52%
      );
      opacity: 0.4;
    }

    .carusel-content {
      font-family: FiraGO;
      position: relative;
      max-width: 450px;
      margin-left: 130px;
      margin-top: 50px;
      h1 {
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: $text_color;
      }

      a {
        background-color: $base_color;
        padding: 12px 18px;
        display: block;
        width: fit-content;
        border-radius: 12px;
        text-decoration: none;
        color: $text_color;
        margin-top: 62px;
        img {
          padding-left: 10px;
        }
      }
    }
  }

  [data-bs-slide-to] {
    width: 23px;
    opacity: 0.3;
    height: 23px;
    border-radius: 50%;
    border: 3px solid #ccc;
    margin-right: 10px;
    margin-left: 10px;

    background-color: transparent;
    &.active {
      opacity: 1;
      border: 3px solid $base_color;
      &::before {
        content: "";
        width: 11px;
        display: block;
        height: 11px;
        margin: auto;
        border-radius: 50%;
        background-color: $base_color;
      }
    }
  }

  [data-bs-slide] {
    width: 46px;
    height: 46px;
    @include center;
    background: rgba(246, 246, 246, 0.35);
    border-radius: 8px;
    top: 50%;
    transform: translateY(-50%);

    &.carousel-control-prev {
      left: 28px;
      img {
        position: relative;
        top: 3px;
      }
    }

    &.carousel-control-next {
      right: 28px;
    }
  }
}

.products{
    margin-top:94px ;
}
.prodcat{
    --bs-gutter-x: 50px;
}

.content{
    --bs-gutter-x: 36px;
    --bs-gutter-y: 36px;
}

.category{
  list-style: none;

  & > li:not(.inside) {
    position: relative;
    a {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      transition: all 0.6s ease-in-out;
      color: $secend_color;
      font-family: FiraGO;
      padding: 17px 12px;
      box-shadow: 0px 0px 4px rgba(184, 184, 184, 0.25);
      img{
        transition: all 0.6s ease-in-out;
        opacity: 1;
      }
    }
       ul {
     background-color: #fff;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      pointer-events: none;
      transition: all 0.6s ease-in-out;
      transform: translateX(100%);
      list-style: none;
      padding-left: 0;
      li {
        a {
          min-width: 150px;
        }
      }
    }
    &:hover {
      & > a {
        color: $base_color;
      }

      img {
        opacity: 0;
      }
      ul {
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}

.inside{
  &> a{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    transition: all 0.6s ease-in-out;
    color: #121212;
    font-family: FiraGO;
    padding: 17px 12px;
    box-shadow: 0px 0px 4px rgb(184 184 184 / 25%);
  }
  ul{
    list-style: none;
    height: 0px;
    overflow: hidden;
     
    pointer-events: none;
    &.show{
      height: 100%;
       
      pointer-events: all;
    }
    li{
      padding: 7px 0;
      a{
        color: #121212;
        display: block;
        font-size: 17px;
      }
    }
  }
}

// product

.product {
    background-color: #fff;
    background: $text_color;
    box-shadow: 0px 2px 6px 4px rgba(184, 184, 184, 0.25);
    border-radius: 12px;
  font-family: FiraGO;
  & > img {
    width: 100%;

    object-fit: contain;
    border-radius: 12px 12px 0 0;
    height: 200px;
    background-image: linear-gradient(115.3deg, #c39df3 0.64%, #7f9ce7 100%);
  }
  .prod-body{
    padding: 20px 18px;
  }

  h2 a {
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    color: $secend_color;
  }

  p {
    font-weight: 500;
    font-size: 20px;
    color: $secend_color;
  }

  .star{
    padding: 23px 0 42px;
  }
}


.prods{
  font-family: FiraGO;
  box-shadow:0px 2px 6px rgba(184, 184, 184, 0.25);
  border-radius: 12px;
  margin-bottom: 50px;
 .prodimg{
    object-fit: contain;
    border-radius: 12px 0 0 12px;
    width: 100%;
    height: 193px;
    background-image: linear-gradient(115.3deg, #c39df3 0.64%, #7f9ce7 100%);
  }
  .text-body{
    padding: 24px 0;
  }
  h2{
    font-size: 20px;
    color: $secend_color;
    line-height: 24px;
  }
  small{
    font-size: 16px;
    display: inline-block;
    margin-top: 24px;
    color: #BEBEBE;
  }
  .price-sec{
    border-left:  1px solid #BEBEBE;
    height: 100%;
    padding: 40px 24px;
    p{
      font-weight: 400;
      color: $secend_color;
      font-size: 24px;
      margin-bottom: 30px !important;
    }
    button{
      display: block;
      font-weight: 400;
      font-size: 20px;
      color: $text_color;
      padding: 8px 12px;
      border-radius: 12px;
      background-color: $base_color;
    }
  }
}

.filltblock{
  margin-bottom: 40px;
  font-family: FiraGO;
  .fillter-name{
     font-size: 28px;
     font-weight: 500;
     color: #000000;
  }

  .form-check{
    margin-bottom: 16px;
  }

  .form-check-input:checked {
    background-color: #fb6f20;
 
}

.form-check-input:focus {
  border: 2px solid #121212;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}

  .form-check-input{

    width: 24px;
    margin-right: 25px;
    height: 24px;
    border: 2px solid #121212;
    border-radius: 6px;
  }

  .form-check-label{
    font-weight: 400;
    top: 1px;
    position: relative;
    font-size: 20px;
    color: $secend_color;
  }
 
}

.range{
   
   .d-flex{ 
    padding: 14px;
    align-items: center; 
    gap: 18px;
    span{
      font-weight: 400;
      font-size: 20px;
      color:  $secend_color;
    }
    input{
      border: 1px solid $secend_color;
      border-radius: 8px;
      height: 34px;
      min-width: 78px;
    }
   }
}

.noUi-handle {
  border: 0;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  background-color: $base_color;
  cursor: default;
  box-shadow: none;
  top: -12px  !important;

  &::before, &::after{
    display: none;
  }
}

.noUi-target {
  margin-top: 20px;
  background-color: $base_color;
  height: 2px !important;
  border: 0;

}

.btn-ok{
  font-size: 20px;
  color: $text_color;
  padding: 5px 17px;
  border-radius: 8px;
  background-color: $base_color;
}

.detals{
  margin-top: 68px;
  font-family: FiraGo;
  img:not(.stars img){
    width: 100%;
    background-image: linear-gradient(115.3deg, #c39df3 0.64%, #7f9ce7 100%);
    height: 573px;
    object-fit: contain;
    border-radius: 12px;
    padding: 25px;
  }
  h1{
    font-weight: 500;
    margin-bottom: 28px;
    color: $secend_color;
    font-size: 32px;
  }
  p:not(.comment p){
    color: $secend_color;
    font-size: 18px;
    width: 63%;
    height: 215px;
    overflow: hidden;
    &.show{
      height: 100%;
    }
  }
  .more{
    font-size: 18px;
    color: $base_color;
  }
  .price{
    font-weight: 500;
    color: $secend_color;
    font-size: 32px;
  }
  .addcard{
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: $text_color;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: #fb6f20;
  }

  .prsec{
    margin-top: 114px;
  }
}

.nav-tabs 
.nav-item 
.nav-link  {
  border-bottom: 0;
  padding: 8px 24px 3px;
  font-size: 24px;
  background-color: #BEBEBE;
  color: $text_color;

}

.nav-tabs 
.nav-item.show 
.nav-link, 
.nav-tabs 
.nav-link.active {
  border-radius: 6px 6px 0px 0px;
  border-color:$base_color;
  color: $secend_color;
  background-color: #fff;
  border-bottom: 0;
}

.nav-tabs 
.nav-item:first-child
.nav-link{
  position: relative;
  right: -10px;
  z-index: 9998;
}

 .nav-tabs .nav-link:hover {
  isolation: auto;
   
}

.tab-content{
  border-top: 1px solid #FB6F20;
  box-shadow: 0px 2px 6px 4px rgba(184, 184, 184, 0.25);
border-radius: 12px;
}

.tabp{
  font-weight: 400;  
  font-family: FiraGO;
  font-size: 18px;
 
  color: $secend_color;
}

#myTab{
  border: 0;
  margin-top:100px ;
}

.rews{
  margin-bottom: 28px;
  max-width: 570px;
  font-family: FiraGO;
  color: $secend_color;
  background: linear-gradient(90deg, rgba(190, 190, 190, 0.5) 0%, #F6F6F6 100%);
  border-radius: 8px;
  padding: 16px 28px;

  h3{ 
    font-weight: 500;
    font-size: 24px;
  }

  .comment {
    margin-top: 13px;
     p {
    font-size: 20px;
    margin-bottom: 0;
    
  }
  
  }
}
.tab-pane{
  padding: 54px 42px;
  margin-bottom: 50px;
}

.quant{
  font-family: FiraGO;
  border-left: 1px solid #BEBEBE;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  button{
     background-color: transparent !important;
     border: 0;
  }
  
  span{
    font-weight: 700;
    font-size: 28px;
    color: $secend_color;
  }
  .update{
    display: flex;
    gap: 7px;
    align-items: center;
  }
 
}

.btnremove{
  background-color: transparent !important;
}

.price-sec.d-flex {
  gap: 28px;
  p{
  margin-bottom: 0 !important;
}
} 

.heading{
  text-align: center;
  margin: 68px 0;
  color: $secend_color;
  font-family: FiraGO;
  font-weight: 700;
  font-size: 28px;
}

form.order{
  

   .row{
     box-shadow:0px 2px 6px rgba(184, 184, 184, 0.25);
   border-radius: 12px;
   padding: 76px;
   }
   label{
    font-weight: 400;
    font-size: 20px;
    color: $place_color;
    display: block;
    margin: 29px 0   18px 0;
   }
   input{
    height: 48px;
    border: 1px solid $place_color;
    border-radius: 8px;
   }
   .makeorder{
    font-family: FiraGO;
    padding: 9px 47px;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    background-color: $base_color;
    border-radius: 8px;
    margin: 68px auto;
    display: block;
   }
}
